<!DOCTYPE html>
<html>
  <head>
    <title>Index React</title>
    <script src="https://cdn-static.quotidiano.net/scorpion/4a9fc44/vendors/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <div id="content"></div>
    <div class="info"></div>
    <div class="info2"></div>
    <script src="/static/dist/runtime.bundle.js"></script>
    <script src="/static/dist/vendors.bundle.js"></script>
    <script src="/static/dist/indexReact.bundle.js"></script>
  </body>
</html>
